{% extends 'website/base.html' %}

{% block title %}Ecoparrot PriPac | Sustainable Packaging Solutions{% endblock %}

{% block content %}

{% include 'website/partials/hero.html' %}

<section class="home-about-section">
    <div class="container">
        {% include 'website/partials/about-section.html' %}
    </div>
</section>

{% include 'website/partials/why-choose-section.html' %}

{% include 'website/partials/products-section.html' %}

{% include 'website/partials/manufacturing-section.html' %}

{% include 'website/partials/clients-section.html' %}

{% include 'website/partials/gallery-section.html' %}

{% endblock %}